################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AngularComponent/.vs
/AngularComponent/AngularComponent/bin
/AngularComponent/AngularComponent/obj/Debug
/AngularComponent/packages
